{% extends 'blog/basic.html' %}

{% block title%} Contact Us - My Awesome Cart{% endblock %}
{% block css %}
        body{
             background-color:#EEF4F6;

         }
{% endblock %}
{% block body %}

<div class="backbody" >
<div class="container my-3">
    <h3>Contact Us</h3>
    <form action="/blog/contact/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
  </div>

    <div class="form-group">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
  </div>


   <div class="form-group">
    <label for="desc">How May We Help You?</label>
    <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
  </div>

           <button id="submit" onclick="donefun()"  class="btn btn-success">Submit</button>

</form>



</div>
    </div>
{% endblock %}
{% block js%}
<script>
function donefun(){

            document.getElementById("submit").InnerHTML=("YES ITS DONE YOU GET SOLUTION ABOUT YOUR PROBLEM");
            console.log('hellow world');
            alert(" it done thanks you ...");
}
 </script>
{% endblock %}