{% extends 'blog/basic.html' %}
{% block title %} Your order History...{% endblock %}
{% block body %}
<div class="container my-3">
    <h3> YOUR ORDER HISTORY...</h3>
    <form>
    <div class="form-tracker">
        <label for="name">Enter Your Name</label>
        <input id="name" class="bkc"  name="name" type="text" placeholder="enter your Name">
    <div>

     <div class="form-tracker my-2 mx-50%">
        <label for="email">Email</label>
        <input id="email" class="bkc" name="name" type="text" placeholder="enter your Email">
    </div>
    </form>

</div>
{% endblock %}
